# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Env
.env
.env.*

# Logs
logs/
*.log
logs/**/*.log

# OS
.DS_Store

# Test
coverage/

# Uploads
uploads/

# Local storage
storage/

# PM2
pids/

# Docker
*.pid

# Misc
.idea/
.vscode/ 